*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inter-font{
  font-family: "Inter", sans-serif;
  
 
}
.dispay-flex{
    display: flex;
}

/* header,navbar styles */

.header-background{
    background-color: #1A0B2E;
}
.navbar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px 0px;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
}
.nav-h1{
    font-size: 32px;
font-weight: bolder;
}
.h1-wave{
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-nav{
    display: flex;
    align-items:center ;
    background: linear-gradient(90deg,#F7E93F,#FB09B4,#9100F8);
    gap: 4px;
    padding: 12px 16px;
    border-radius: 10000px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}
.hambur-menu{
display: none;    
}

.banner-section{
    background-image: url(./assets/hero-bg.png);
}
.banner-image{
    display: flex;
    justify-content: center;
    
}
.banner-content>h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 600;
}
.banner-content>p{
    color: #FFFFFF;
    padding-bottom: 10px;
}

.banner-container{
    text-align: center;
}
.banner-btn{
    display: flex;
    gap: 10px;
    justify-content: center;
   margin: 0 auto;
   padding-bottom: 100px;
}
.subscribe-btn{
    display: flex;
    color: #00FF88;
    border: 1px solid #00FF88;
    width: 147px;
    justify-content: center;
    border-radius: 10px;
}

/* about podcast */

.about-podcast{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.about-podcast-h1{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
}
.podcast-hr{
    color: #FFFFFF;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 0px;
}
.podcast-card{
    max-width: 1200px;
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    padding-bottom: 120px;
    
}

.podcast-rating-h1{
    color: #00FF88;
    font-size: 48px;
    font-weight: bolder;
}
.podcast-rating-p{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}
/* .....  */
.takewave-section{
    background-color: #230E3D;
}
.takewave-container{
max-width: 1200px;
margin: 0 auto;
display: grid;
grid-template-columns: repeat(4,1fr);
grid-template-rows: repeat(3,220px);
gap: 30px;
padding-bottom: 100px;
}
.takewave-content{
/* max-width: 300px; */
background-color: #351165;
border-radius: 40px;
padding: 40px;
}
.takewave-section>h1{
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 30px;
}
.box-1{
    grid-row: 1/span 2;
    grid-column:1/span 1 ;
}

.box-2{
    grid-column: 2/span 3;
}
.box-3{
    grid-column:span 3;
}
.box-4{
    grid-column: span 3;
}


/* ........ */


.featured-container{
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
}
.featured-content{
    max-width: 380px;
    text-align: center;
    color: #FFFFFF;
    background-color: #250D44;
    border-radius: 20px;
    padding: 16px;
    
    
}
.featured-h1{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    
    padding-bottom: 20px;
}
.featured-content>h2{
    font-size: 24px;
    font-weight: 700;
}
.featured-image{
    gap: 6px;
    color: #00FF88;
}
.host-section{
    max-width: 1200px;
    margin: 0 auto;
    gap: 24px;
    background-color: #351165;
    padding: 40px;
    border-radius: 40px;
    
    
}
.host-hero{
    padding-top: 40px;
    padding-bottom: 100px;
}
.host-content>h2{
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
}
.host-content>p{
    color: #FFFFFF;
    font-weight: 200;
}
.footer-background{
    background-image: url(./assets/footer-bg.png);
}
.footer-container{
    text-align: center;
    padding: 120px 0px;
   
}
.footer-content{
    display:grid ;
    grid-template-columns: repeat(4,1fr);
    max-width: 544px;
    margin: 0 auto;
    gap: 10px;
    

}
.footer-container>h1{
    font-size: 66px;
}
.footer-container>p{
padding-top: 32px;
}
.align-items{
    align-items: center;
    color: #FFFFFF;
}




/* Responsive design */
@media screen and (max-width:576px) {
    /* nav */
    .btn-nav{
        display: none;
    }
   .nav-menu{
    display: none;
   }
   .hambur-menu{
    display: inline-block;
    padding-right: 18px;
   }
   .podcast-hr{
    color: #FFFFFF;
    margin: 0 auto;
    padding: 80px 20px;
}

.about-podcast{
    
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.podcast-card{
    
    margin: 0 auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    padding-bottom: 120px;
    
}

.featured-container{
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    justify-items: center;
    padding-top: none;
    gap: 10px;
    
}
.featured-h1{
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}



.host-section{
    display: block;
    margin: 0 auto;
    text-align: center;
    
}
.host-hero{
    padding: 0 20px;
}
.host-img{
    display: flex;
   justify-content: center;
}
.host-logo{
    display: flex;
    justify-content: center;
}
.footer-content{
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    max-width: 544px;
    margin: 0 auto;
    gap: 10px;
}
}
